<h2>Введите ИНН для проверки</h2>

<form id="inn-form">
  <input type="text" id="input-value"/>
  <button type="submit">Отправить</button>
  
</form>

<div id="list">
  <%= for check <- @list do %>
    <p>[<%= check.checkDate %>] <%= check.inn %> : <%= if check.checkResult, do: "корректен", else: "некорректен" %><p>
  <% end %>
</div>

